.awesome-widget {
	display: flex;
	align-items: center;

	// Rest.
	img {
		box-shadow: none;
	}
	.heading {
		display: flex;
		margin-bottom: 1em;
	}
	.button,
	.description {
		font-size: 0.8rem;
		line-height: normal;
	}
	.description {
		margin-bottom: 1em;
	}

	// Add padding if box has
	// Background image/background color etc.
	&.has-box-bg {
		padding: 1em;
	}

	/**
	 * Featured image/icon position? (left/right/top/bottom).
	 */
	&.left {
		.content,
		> .featured {
			flex: 1;
		}
		.content {
			padding-left: 1em;
		}
	}
	&.right {
		.content,
		> .featured {
			flex: 1;
		}
	    flex-direction: row-reverse;
		.content {
		    padding-right: 1em;
		}
	}
	&.top {
	    flex-direction: column;
	}
	&.bottom {
	    flex-direction: column-reverse;
	}

	/**
	 * Header
	 */
	.heading {

		// Header image/icon position? (left/right/top/bottom).
		&.left i {
			margin-right: 1em;
		}
		&.right {
		    flex-direction: row-reverse;
			i {
				margin-left: 1em;
			}
		}

		// Text alignments (left/center/right).
		&.text-left {
		    justify-content: flex-start;
		}
		&.text-center {
		    justify-content: center;
		}
		&.text-right {
		    justify-content: flex-end;
		}
	}
}
